.wrapper {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
}

.button {
  margin: 5px auto;
  background-color: var(--green-50);
  width: 250px;
  border-radius: 120px;
  height: 50px;
  /*コレ*/
  display: flex;
  /*コレ*/
  align-items: center;
  /*コレ*/
  justify-content: center;
}

.title {
  margin: 0 auto;
  color: var(--white-10);
  display: block;
  font-weight: bold;
}
