.main {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  background-color: var(--white-10);
}

.image {
  width: 100%;
}

.title {
  font-size: var(--small-heading3);
  color: var(--green-50);
  padding: 0 1rem;
}

.text {
  font-size: var(--small-heading4);
  padding-top: calc(var(--small-heading2) * 0.1);
  padding-bottom: calc(var(--display) * 0.2);
  padding-left: 1rem;
  padding-right: 1rem;
}
