.flexContainer {
  composes: sideBySideCenter from "utils.module.css";
  padding: 30px 0;
}

.text {
  padding-top: calc(var(--display) * 0.1);
  padding-bottom: calc(var(--display) * 0.2);
}

.title {
  font-size: var(--small-heading2);
  font-weight: 500;
  letter-spacing: 0.15em;
  color: var(--brown);
  text-align: center;
}

.subtitle {
  font-size: var(--small-heading3);
  color: var(--green-50);
}

.largeImage {
  margin: 2rem 10%;
}
