.flexContainer {
  composes: sideBySideCenter from "utils.module.css";
  padding: 30px 0;
  background-color: var(--green-20);
}

.wrapper {
  padding: 1rem;
}

.text {
  font-size: var(--small-heading4);
  padding-top: calc(var(--display) * 0.1);
  padding-bottom: calc(var(--display) * 0.2);
}

.title {
  font-size: var(--small-heading2);
  font-weight: 500;
  letter-spacing: 0.15em;
  color: var(--brown);
  text-align: center;
}

.subtitle_men {
  font-size: var(--small-heading3);
  color: var(--navy);
  text-align: center;
}

.subtitle_women {
  font-size: var(--small-heading3);
  color: var(--red);
  text-align: center;
}

.table {
  width: 80%;
  text-align: center;
  font-size: var(--small-heading4);
}

.td_men {
  width: 30%;
  text-align: left;
  padding: 0.2rem;
  color: var(--navy);
}

.td_women {
  width: 30%;
  text-align: left;
  padding: 0.2rem;
  color: var(--red);
}

.card_slider {
  display: flex;
}
