.wrapper {
  padding: var(--space-sx) 0;
  background-color: var(--brown);
  font-size: var(--small-heading3);
  position: fixed;
  width: 100%;
}

.flexContainer {
  composes: spaceBetween from "utils.module.css";
}
