.wrapper {
  margin: 20px 10px;
  border-bottom-style: dashed;
  border-bottom-color: var(--gray-20);
  border-bottom-width: 0.5px;
  text-align: left;
}

.date {
  text-align: left;
  font-size: var(--small-heading4);
  color: var(--gray-20);
}

.title {
  text-align: left;
  font-size: var(--small-heading2);
  color: var(--gray-20);
  margin-bottom: 10px;
}
