.wrapper {
  margin: 20px 10px;
  text-align: left;
  font-size: var(--small-heading2);
}

.question p {
  color: var(--brown);
  margin: 7px 0;
  padding: 0;
}

.answer p {
  color: #302f2f;
  margin: 7px 0;
  padding: 0;
}

.border {
  border-style: dashed;
  border-color: var(--gray-20);
  border-width: 0.5px;
}
